<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sevenhourdev.getlyric"
    android:versionCode="4"
    android:versionName="0.3" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <receiver android:name=".BootCompleted" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".BackgroundCheckMusicPlaying" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sevenhourdev.getlyrics.MainActivity" />
        </activity>
        <!-- Search results activity -->
        <activity
            android:name=".SearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".LoadingLyrics"
            android:label="@string/title_activity_loading_lyrics"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name=".AddToLibrary"
            android:label="@string/title_activity_add_to_library" >
        </activity>
    </application>

</manifest>
